body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.spacer {
    height: 100px; 
}

header {
    background-color: #333;
    color: white;
    padding: 5px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.cart-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.cart-item img {
    max-width: 80px;
    max-height: 80px;
    margin-right: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
